html, body {
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    right: 0px;
    width: 100%;
    height: 7%;
    border-bottom: 2px solid black;
    background-color: #1e90af;
}

header h2 {
    color: white;
    text-align: center;
    margin-top: 10px;
}

#menu-div {
    position: relative;
    top: 7%;
    height: 93%;
    width: 15%;
    background-color: #1e90af;
    border-right: 2px solid black;
    padding-top: 1%;
}

.menu {
    width: 85%;
    height: 5%;
    border: 2px solid black;
    margin: 0 0 10% 5%;
}

.menu a {
    text-decoration: none;
}

.menu p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
}

.menu a p {
    transition: all 0.3s;
}

.menu a p:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    transition: all 0.3s;
}

.menu-button {
    color: white;
    background-color: #1e90af;
    width: 85%;
    height: 5%;
    border: 2px solid black;
    margin: 0 0 10% 5%;
    transition: all 0.3s;
    font-size: 15px;
}

#logout-button {
    position: absolute;
    bottom: 5%;
    right: 7.5%;
}

.menu-button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    transition: all 0.3s;
}